<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--  配置数据源  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <!--  配置数据库驱动  -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <!-- 配置数据库的连接地址 -->
        <property name="url" value="jdbc:mysql://localhost:3306/Spring?serverTimezone=UTC"/>

        <!-- 配置数据库的用户名&密码 -->
        <property name="username" value="root"/>
        <property name="password" value="112800"/>
    </bean>

    <!--  配置JDBC模板  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="accountDao" class="com.jaolvv.JDBCdatabase.AccountDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <!-- 配置事物管理器，指定数据源 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <context:component-scan base-package="com.jaolvv.JDBCdatabase"></context:component-scan>
    <!-- 打开事物管理器（注解）驱动 -->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

</beans>